@using FungeyeApp.Models;
<!DOCTYPE html>
<html>
<head>
    <style>
        img {
            border-radius: 0%;
        }
    </style>
</head>
<body>
    @*@ViewBag.Json*@
    <div id="map" style="width:100%;height:600px" class="map"></div>
    <script>
        (function () {

            window.onload = function () {

                // Creating a new map
                var map = new google.maps.Map(document.getElementById("map"), {
                    center: new google.maps.LatLng(44.5577549, -84.600220),
                    zoom: 6,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });


                // Creating the JSON data
                var json = @Html.Raw(ViewBag.Json)

		// Creating a global infoWindow object that will be reused by all markers
		var infoWindow = new google.maps.InfoWindow();

		// Looping through the JSON data
		for (var i = 0, length = json.length; i < length; i++) {
			var data = json[i],
				latLng = new google.maps.LatLng(data.lat, data.lng);

			// Creating a marker and putting it on the map
            var marker = new google.maps.Marker({
				position: latLng,
                map: map,
                MushroomID: data.MushroomID
			});

			// Creating a closure to retain the correct data, notice how I pass the current data in the loop into the closure (marker, data)
            (function (marker, data) {

				// Attaching a click event to the current marker
                google.maps.event.addListener(marker, "click", function (e) {
                    infoWindow.setContent("<div style='float:left' ><img src='" + data.ImageLink + "' alt='Avatar' style = 'height: 100px; width: 100px;'></div><div style='float:right; padding: 10px; '><b>" + "Mushroom ID: #</b>" + data.MushroomID + "<br/>" + "<b>Description: </b>" + data.description + "<br/>" + "<b>Location: </b>" + data.address + "<br/>" + "<b>User: </b>" + "<a href=../Home/GetUserInfo?id=" + data.id + ">" + data.email + "</a><br/>" + "<b>Common Name: </b>" + "<a href=../Mushroom/ListSpecificMushroom?mushroomID=" + data.MushroomID + ">" + data.CommonName + "</a><br/>" + "</div>");
					infoWindow.open(map, marker);
				});
			})(marker, data);
		}
	}

})();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.Key&callback=myMap"></script>
    <script>
        $(function () {
            $('#profile-image1').on('click', function () {
                $('#profile-image-upload').click();
            });
        });
    </script>
</body>
</html>