body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
    input.hidden {
        position: absolute;
        left: -9999px;
    }

#profile-image1 {
    cursor: pointer;
    width: 350px;
    height: 350px;
    border: 2px solid #03b1ce;
}

.ImgSpace {
    display: inline-block;
    margin: 5px 20px;
    padding: 5px;
    border: 1px solid #CCC;
}

.tital {
    font-size: 16px;
    font-weight: 500;
}

.bot-border {
    border-bottom: 1px #f8f8f8 solid;
    margin: 5px 0 5px 0
}

.btn-linkedin {
    display: inline-block;
}