body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:antiquewhite;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
    input.hidden {
        position: absolute;
        left: -9999px;
    }

#profile-image1 {
    cursor: pointer;
    width: 350px;
    height: 350px;
    border: 2px solid #03b1ce;
}

.ImgSpace {
    display: inline-block;
    margin: 5px 20px;
    padding: 5px;
    border: 1px solid #CCC;
}

.tital {
    font-size: 16px;
    font-weight: 500;
}

.bot-border {
    border-bottom: 1px #f8f8f8 solid;
    margin: 5px 0 5px 0
}

.btn-linkedin {
    display: inline-block;
}

.jumbotron-section-1 {
    padding-top: 70px !important;
    
}

.jumbotron-section-1-bg {
    height: 360px;
    background-size: 100%;
}

.jumbotron {
    background-color: navajowhite;
}

.introduction {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
}

.name {
    font-family: "custom-headerfont",sans-serif;
}

.introduction p {
    font-weight: bold;
}

#ErrorMessage{
    color: red;
}

.panel-title{
    text-align: center;
}

#uploadImage{
    text-align: center;
    align-content: center;
}

#deleteUserMush{
    text-align: center;
    align-content: center;
}



#center{
    text-align: center;
    align-content: center;
}

#leaderboard{
    background-color: white;
}


