
@{
    ViewBag.Title = "AddMushroom";
}

<h2>Add Mushroom</h2>


@using (Html.BeginForm("AddMushroom", "Mushroom", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <form action="/Mushroom/AddMushroom" method="post">
            <div class="form-group">
                <label>Upload Image:</label>
                <input type="file" class="form-control" name="fileUpload" required/>
            </div>
            <div class="form-group">
                <label>Location Found:</label>
                <input type="text" class="form-control" name="Address" required/>
            </div>
            <div class="form-group">
                <label>Description:</label>
                <input type="text" class="form-control" name="Description">
            </div>
            <br />
            <h4>Mushroom Characteristics:</h4>
            <div class="form-group">
                <label>Binomial Name:</label>
                <input type="text" class="form-control" name="Species" required>
            </div>
            <div class="form-group">
                <label>Common Name:</label>
                <input type="text" class="form-control" name="CommonName"required>
            </div>
            <div class="form-group">
                <label>Cap Shape:</label>
                <input type="text" class="form-control" name="CapChar" required>
    
            </div>
            <div class="form-group">
                <label>Cap Color:</label>
                <input type="text" class="form-control" name="CapColor" required>
            </div>
            <div class="form-group">
                <label>Stem Shape:</label>
                <input type="text" class="form-control" name="Stem" required>
            </div>
            <div class="form-group">
                <label>Stem Color:</label>
                <input type="text" class="form-control" name="StemColor" required>
            </div>
            <div class="form-group">
                <label>Spore Bearing Surface:</label>
                <input type="text" class="form-control" name="Hymenium" required>
            </div>
            <div class="form-group">
                <label>Spore Bearing Surface Color:</label>
                <input type="text" class="form-control" name="HymeniumColor" required>
            </div>
            <div class="form-group">
                <label>Spore Color:</label>
                <input type="text" class="form-control" name="SporeColor" required>
            </div>
            <div class="form-group">
                <label>Ecology:</label>
                <input type="text" class="form-control" name="Ecology" required>
            </div>
            <div class="form-group">
                <label>Substrate:</label>
                <input type="text" class="form-control" name="Substrate" required>
            </div>
            <div class="form-group">
                <label>Growth Pattern:</label>
                <input type="text" class="form-control" name="GrowthPattern" required>
            </div>
            

    <button type="submit" id="submit" class="btn btn-primary">Add Mushroom</button>
    </form>
}