
@{
    ViewBag.Title = "AddMushroom";
}

<h2>Add Mushroom</h2>


@using (Html.BeginForm("AddMushroom", "Mushroom", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <form action="../Mushroom/AddMushroom" method="post">
            <div class="form-group">
                <label>Upload Image:</label>
                <input type="file" class="form-control" name="fileUpload" required />
            </div>
            <div class="form-group">
                <label>Location Found:</label>
                <input type="text" class="form-control" name="address" required />
            </div>
            <div class="form-group">
                <label>Description:</label>
                <input type="text" class="form-control" name="description">
            </div>
            <br />
            <div class="w3-row-padding w3-margin-top">
                <div class="w3-third">
                    <div class="w3-card">
                        <h3>Cap Shape</h3>
                        <img src="~/Content/Images/MushroomCapShapes.jpg" style="width:70%; float:right">
                        <div class="w3-container"></div>
                    </div>
                </div>
                <div class="w3-third">
                    <div class="w3-card">
                        <img src="~/Content/Images/mushroomStems.jpg" style="width:70%; float:right">
                        <div class="w3-container"></div>
                    </div>
                </div>
                <div class="w3-third">
                    <div class="w3-card">
                        <img src="~/Content/Images/spore_surface.jpg" style="width:70%; float:right">
                        <div class="w3-container"></div>
                    </div>
                </div>
            </div>

            <h4>Mushroom Characteristics:</h4>

                <div class="form-group">
                    <label>Binomial Name:</label>
                    <input type="text" class="form-control" name="species" pattern="^[A-Za-z]{3,} [A-Za-z]{3,}$" title="Invalid Binomial Name" required>
                </div>
                <div class="form-group">
                    <label>Common Name:</label>
                    <input type="text" class="form-control" name="commonName" pattern="^[A-Za-z ]{3,}$" title="Invalid Name" required>
                </div>
                <div class="form-group">
                    <label>Cap Shape:</label>
                    <select name="capChar"class="form-control">
                        <option value="null"></option>
                        <option value="Convex">Convex</option>
                        <option value="Bell-Shaped">Bell-Shaped</option>
                        <option value="Conical">Conical</option>
                        <option value="Knobbed">Knobbed</option>
                        <option value="Flat">Flat</option>
                        <option value="Sunken">Sunken</option>
                        <option value="Bracket">Bracket</option>
                        </select> 
                </div>
                <div class="form-group">
                    <label>Cap Color:</label>
                    <input type="text" class="form-control" name="capColor" pattern="^[A-Za-z ]{0,}$" title="Invalid entry">
                </div>
                <div class="form-group">
                    <label>Stem Shape:</label>
                    <select name="stem" class="form-control">
                        <option value="null"></option>
                        <option value="Equal">Equal</option>
                        <option value="Club-Shaped">Club-Shaped</option>
                        <option value="Bulbous">Bulbous</option>
                        <option value="With Cup">With Cup (Volva)</option>
                        <option value="Rooting">Rooting</option>
                        <option value="Rhizoids">Rhizoids</option>
                        <option value="Bracket">Bracket</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Stem Color:</label>
                    <input type="text" class="form-control" name="stemColor" pattern="^[A-Za-z ]{0,}$" title="Invalid entry" >
                </div>
                <div class="form-group">
                    <label>Spore Bearing Surface:</label>
                    <select name="hymenium" class="form-control">
                        <option value="null"></option>
                        <option value="Pseudo-Gills">Pseudo-Gills</option>
                        <option value="Pores">Pores</option>
                        <option value="Gills">Gills</option>
                        <option value="Teeth">Teeth</option>                       
                    </select>
                </div>
                <div class="form-group">
                    <label>Spore Bearing Surface Color:</label>
                    <input type="text" class="form-control" name="hymeniumColor" pattern="^[A-Za-z ]{0,}$" title="Invalid entry">
                </div>
                <div class="form-group">
                    <label>Spore Color:</label>
                    <input type="text" class="form-control" name="sporeColor" pattern="^[A-Za-z ]{0,}$" title="Invalid entry" >
                </div>
                <div class="form-group">
                    <label>Ecology:</label>
                    <select name="ecology" class="form-control">
                        <option value="null"></option>
                        <option value="Parasitic">Parasitic (On Living Trees)</option>
                        <option value="Saprotrophic">Saprotophic (On Dead Trees)</option>
                        <option value="Both">Parasitic and Saprotrophic</option>
                        <option value="Mychorrizal">Mychorrizal (On Ground)</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Substrate:</label>
                    <select name="substrate" class="form-control">
                        <option value="null"></option>
                        <option value="Hardwood">Hardwood (e.g. Oak, Beech, Ash, etc.)</option>
                        <option value="Conifer">Conifer (e.g. Pine, Fir, Spruce, etc.)</option>
                        <option value="Soil">Soil</option>
                        <
                    </select>
                </div>
                <div class="form-group">
                    <label>Growth Pattern:</label>
                    <select name="growthPattern" class="form-control">
                        <option value="null"></option>
                        <option value="Alone">Alone</option>
                        <option value="Clusters">Clusters</option>
                    </select>
                </div>
                <button type="submit" id="submit" class="btn btn-primary">Add Mushroom</button>
            </form>
 }
