
@{
    ViewBag.Title = "AboutUs";
}

<h2>Check out these Fungi!</h2>

<html>
<head>
    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 100%;
        }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 400px;
                height: 400px;
            }

        div.desc {
            padding: 15px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img src="https://www.grandcircus.co/wp-content/uploads/2017/11/IMG_2787e.png" alt="Fjords" width="360" height="360" class="img-thumbnail">
                    <a href="https://www.linkedin.com/in/liam-boll/" target="tab">
                        <button class="btn btn-linkedin" style="font-size:24px">LinkedIn<i class="fa fa-linkedin-square"></i></button>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h3>Liam Boll</h3>
                </div>
                <p>
                    <b>One Liner: </b>
                    <br />
                    <b>Favorite Hobby: </b>
                    <br />
                    <b>Favorite Coding Language: </b>
                    <br />
                    <b>Favorite Movie: </b>
                    <br />
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img src="https://www.grandcircus.co/wp-content/uploads/2017/11/IMG_2780e.png" alt="Fjords" width="360" height="360" class="img-thumbnail">
                    <a href="https://www.linkedin.com/in/david-schwartzy/" target="tab">
                        <button class="btn btn-linkedin" style="font-size:24px">LinkedIn<i class="fa fa-linkedin-square"></i></button>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h3>David Schwartz</h3>
                </div>
                <p>
                    <b>One Liner: Junior .Net Developer who is eager to create innovative solutions. </b>
                    <br />
                    <b>Favorite Hobby: Building Computers</b>
                    <br />
                    <b>Favorite Coding Language: C#</b>
                    <br />
                    <b>Favorite Movie: Thank You For Smoking</b>
                    <br />
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img src="https://www.grandcircus.co/wp-content/uploads/2017/11/IMG_2782e.png" alt="Fjords" width="360" height="360" class="img-thumbnail">
                    <a href="https://www.linkedin.com/in/jordancontreras/" target="tab">
                        <button class="btn btn-linkedin" style="font-size:24px">LinkedIn<i class="fa fa-linkedin-square"></i></button>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h3>Jordan Contreras</h3>
                </div>
                <p>
                    <b>One Liner: </b>
                    <br />
                    <b>Favorite Hobby: </b>
                    <br />
                    <b>Favorite Coding Language: </b>
                    <br />
                    <b>Favorite Movie: </b>
                    <br />
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img src="https://www.grandcircus.co/wp-content/uploads/2017/11/IMG_2798e.png" alt="Fjords" width="360" height="360" class="img-thumbnail">
                    <a href="https://www.linkedin.com/in/michaelmccarthy731/" target="tab">
                        <button class="btn btn-linkedin" style="font-size:24px">LinkedIn<i class="fa fa-linkedin-square"></i></button>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h3>Michael McCarthy</h3>
                </div>
                <p>
                    <b>One Liner: Entry-level .NET developer eager to begin a productive career in the tech industry</b>
                    <br/>
                    <b>Favorite Hobby: Skateboarding</b>
                    <br/>
                    <b>Favorite Coding Language: C#</b>
                    <br/>
                    <b>Favorite Movie: In Bruges</b>
                    <br/>
                </p>
            </div>
        </div>
    </div>

</body>
</html>