
@{
    ViewBag.Title = "AboutUs";
}

<h2>About Us</h2>

<html>
<head>
    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 100%;
        }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 400px;
                height: 400px;
            }

        div.desc {
            padding: 15px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img src="https://www.grandcircus.co/wp-content/uploads/2017/11/IMG_2787e.png" alt="Fjords" width="360" height="360" class="img-thumbnail">
                    <a href="https://www.linkedin.com/in/liam-boll/" target="tab">
                        <button class="btn btn-linkedin" style="font-size:24px">LinkedIn<i class="fa fa-linkedin-square"></i></button>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h3>Liam Boll</h3>
                </div>
                <p class="img-thumbnail">Lots of text here...With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and o</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img src="https://www.grandcircus.co/wp-content/uploads/2017/11/IMG_2780e.png" alt="Fjords" width="360" height="360" class="img-thumbnail">
                    <a href="https://www.linkedin.com/in/david-schwartzy/" target="tab">
                        <button class="btn btn-linkedin" style="font-size:24px">LinkedIn<i class="fa fa-linkedin-square"></i></button>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h3>David Schwartz</h3>
                </div>
                <p class="img-thumbnail">Lots of text here...With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and o</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img src="https://www.grandcircus.co/wp-content/uploads/2017/11/IMG_2782e.png" alt="Fjords" width="360" height="360" class="img-thumbnail">
                    <a href="https://www.linkedin.com/in/jordancontreras/" target="tab">
                        <button class="btn btn-linkedin" style="font-size:24px">LinkedIn<i class="fa fa-linkedin-square"></i></button>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h3>Jordan Contreras</h3>
                </div>
                <p class="img-thumbnail">Lots of text here...With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and o</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img src="https://www.grandcircus.co/wp-content/uploads/2017/11/IMG_2798e.png" alt="Fjords" width="360" height="360" class="img-thumbnail">
                    <a href="https://www.linkedin.com/in/michaelmccarthy731/" target="tab">
                        <button class="btn btn-linkedin" style="font-size:24px">LinkedIn<i class="fa fa-linkedin-square"></i></button>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h3>Michael McCarthy</h3>
                </div>
                <p class="img-thumbnail">Lots of text here...With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and o</p>
            </div>
        </div>
    </div>

</body>
</html>