@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url("http://www.tokkoro.com/picsup/1220871-mushroom.jpg")
    }
    footer {
        color: ghostwhite;
    }
</style>
<div align="center" class="jumbotron" >
    <div class="text">
        <h1>FungEye</h1>
        <p id="text" class="lead">Makes looking for mushrooms in Michigan easy! </p>
        <p id="text">This app is what friends are -spore-!</p>
    </div>
</div>

@*<html>
<head>
</head>
<body>
    <section class="jumbotron-section-1">
        <div class="jumbotron no-margin jumbotron-section-1-bg">
            <div class="container-fluid introduction">
                <h1 class="name">FungEye</h1>
                <p>Makes finding Mushrooms in Michigan a breeze!
                    This app is what friends are -spore-! 
                </p>
                <a href="#" class="visible-xs btn call-me">Some text here..</a>
            </div>

        </div>
    </section>
    <div>
        <p>
            <img src="http://mushroomobserver.org/local_images/320/822869.jpg" alt="Shroom1" style="float:right;width:200px;height:200px;">
        </p>

        <p>
            <img src="http://images.mushroomobserver.org/320/821105.jpg" alt="Shroom2" style="float:left;width:200px;height:200px;">
        </p>

    </div>
</body>
</html>*@
