
@{
    ViewBag.Title = "LeaderboardsView";
}

<h2>Leaderboards</h2>


<table class="table">
    <tr>
        <th>
            User <a href="/Home/ListUsersAtoZ"><span>&#x25B2;</span></a><a href="/Home/ListUsersZtoA"><span>&#x25BC;</span></a>
        </th>
        <th>
            Observation Count <a href="/Home/ListUsersHighestToLowest"><span>&#x25B2;</span></a><a href="/Home/ListUsersLowestToHighest"><span>&#x25BC;</span></a>
        </th>
    </tr>

    @for (int i = 0; i < ViewBag.UserList.Count; i++)
    {
        <tr>
            <td>
                @ViewBag.UserList[i]
            </td>
            <td>
                @ViewBag.UserCount[i]
            </td>
        </tr>
    }
</table>