@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@using (Html.BeginForm("ViewUploadedImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <p>
        <input type="file" id="fileUpload" name="fileUpload" size="23" />
        <input type="text" name="name" />
        <input type="text" name="location" />
        <input type="text" name="mushroomID" value="@ViewBag.MushroomID" readonly />
    </p>
    <p>
        <input type="submit" value="Upload file" /></p> 
}