@{
    ViewBag.Title = "About";
}
<h2>Upload Image</h2>
<h3 id="ErrorMessage">@ViewBag.ErrorMessage</h3>
<!DOCTYPE html>
<html>
<head>
    <style>
        html,
        body {
            font-family: Arial, sans-serif;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 300px;
            width: 300px;
        }
    </style>
</head>
<body>
@using (Html.BeginForm("ViewUploadedImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
        <div class="form-group">
            <label for="Input">Location: </label>
            <input type="text" class="form-control" name="address">
        </div>

        <div class="form-group">
            <label for="Input">Mushroom Description: </label>
            <input type="text" class="form-control" name="name">
        </div>

        <div class="form-group">
            <label for="Input">Mushroom ID: </label>
            <input type="text" class="form-control" name="mushroomID" value="@ViewBag.MushroomID" readonly>
        </div>

        <div class="form-group">
            <label for="Input">Picture Upload: </label>
            <input type="file" id="fileUpload" name="fileUpload" />
        </div>

        <input type="submit" value="Upload file" />

}
    </body>
</html>