
@{
    ViewBag.Title = "LeaderBoardView";
}

<h2>Leaderboard</h2>
<div id="SortOptions">
    <label>Sort By: </label>
    <select name="SortOption" id="SortOption">
        <option value="totalCount" selected>Total Mushrooms</option>
        <option value="uniqueCount">Unique Mushrooms</option>
        <option value="userName">Username (A-Z)</option>
    </select>
    <input type="button" class="btn btn-primary" id="sortButton" value="Sort" />
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#sortButton").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/SortLeaderboard",
                data: '{sortOption: "' + $("#SortOption").val() + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#leaderboard").html("")
                    $("#leaderboard").append("<table class='table' id='leaderboard'>" + "<tr>" + "<th>" + "Users" + "</th>" + "<th>" + "Unique Mushrooms Found" + "</th>" + "<th>" + "Total Mushrooms Found" + "</th>" + "</tr>");
                    for (var i = 0; i < response.length; i++) {
                        var User = response[i];
                        var tr = "<tr>"
                        var td1 = ("<td>" + "<a href='/Home/GetUserID?email=" + User.Email + "'>" + User.Email + "</a>" + "</td>");
                        var td2 = ("<td>" + User.UniqueCount + "</td>");
                        var td3 = ("<td>" + User.TotalCount + "</td>");
                        $("#leaderboard").append(tr + td1 + td2 + td3 + "</tr>");
                    }
                    $("#leaderboard").append("</table>")
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
<br />
<table class="table" id="leaderboard">
    <tr>
        <th>
            Users
        </th>
        <th>
            Unique Mushrooms Found
        </th>
        <th>
            Total Mushrooms Found
        </th>
    </tr>

    @foreach(var user in ViewBag.Leaderboard)
    {
        <tr>
            <td>
                <a href="/Home/GetUserID?email=@user.Email">@user.Email</a>
            </td>
            <td>
                @user.UniqueCount
            </td>
            <td>
                @user.TotalCount
            </td>
        </tr>
    }
</table>